{% load static %}
<html>
<head>
<script src="{% static 'script/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="{% static 'style/styles.css' %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'script/script.js' %}"  ></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <p style="color:white; font-size:25px;"><b>INDIAN RAIL SERVICES </b>&nbsp </p>
  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link bg-light" href="/home">Home <b>|</b><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-light" href="/myticket">My Tickets <b style="color:black">|</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-light" href="/booktick/">Book A Ticket <b style="color:black">|</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-light" href="/login/">Login <b style="color:black">|</b></a>
      </li>


    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-interval="10">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/train.jpg' %}" style="width:100%;height:70%;border:5px solid black;margin-top:60px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/train4.jpg' %}" style="width:100%;height:70%;border:5px solid black;margin-top:60px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/train5.jpg' %}" style="width:100%;height:70%;border:5px solid black;margin-top:60px;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/train.jpg' %}" style="width:100%;height:70%;border:5px solid black;margin-top:60px;" class="d-block w-100" alt="...">
    </div>
  </div>
  </div>
</body>

<footer style="background-color: black;color: white;margin-top: 100px;" >
    {% load static %}
    <h1 style="margin-left:5%;">INDIAN RAIL<span style="font-size:20px;margin-top: -30px;color: #01d28e;">&nbsp;&nbsp;&nbsp;

        SERVICES</span></h1>
      <hr>
         <div >
           <div >
             <a href="#" class="link" style="margin-left:15%;color:whitesmoke">About</a>
             <a href="#" class="link" style="margin-left:5%;color:whitesmoke">Services</a>
             <a href="#" class="link" style="margin-left:5%;color:whitesmoke">Terms and Conditions</a>
             <a href="#" class="link" style="margin-left:5%;color:whitesmoke">Best Price Guarantee</a>
             <a href="#" class="link" style="margin-left:5%;color:whitesmoke"> Privacy &amp; Cookies Policy</a>
           </div>
             <hr>
         </div>
         <div  >
            <div style="font-size:14px;color: whitesmoke">
              <a href="#" class="link" style="color:whitesmoke">Customer Support</a><br>
              <a href="#" class="link" style="color:whitesmoke">FAQ</a><br>
              <a href="#" class="link" style="color:whitesmoke">Contact Us</a><br>
              <a href="#" class="link" style="color:whitesmoke">Have a Questions?</a>
           </div>
         </div>



         <div>

           <p>
 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
 </p>
         </div>

   </footer>

</html>